# Boolean Data types conditional and control structures

In [ ]:
True

In [ ]:
False

In [ ]:
5<9

In [ ]:
5>9

In [ ]:
6>=6

In [1]:
"Henry"=="Henry"

True

In [2]:
"Henry">"Henry"

False

In [3]:
Henry='Henry'

In [4]:
age =int(input("Enter age:"))
print(age>=18)
if age>=18:
    print("you're an adult")
else:
    print("Gattat!!!")

Enter age: 2

False
Gattat!!!

In [5]:
age =int(input("Entr age:"))
print(age>=18)
if age<18:
    print("you're an adult")
if age<=18:
    print("Gattat!!!")

Entr age: 2

False
you're an adult
Gattat!!!

In [6]:
age =int(input("Enter age:"))
if age>=18:
    print("You are an adult")

Enter age: 25

You are an adult

In [7]:
score =int(input("Enter Score!!"))
if score<40:
    print("Happy to see you next year!!")
else:
    print("See you in next class")

Enter Score!! 88

See you in next class

In [8]:
score =int(input("Enter Score!!"))
if score<40:
    print("Happy to see you next year!!")
else:
    print("See you in next class")

Enter Score!! 55

See you in next class

In [9]:
score =int(input("Enter score:"))
if score<40:
    print("sorry you have to repeat this class")
elif score<=50:
    print("you have to resit this exam")
else:
    print("you are promoted to the next class.")

Enter score: 78

you are promoted to the next class.

In [10]:
menu ="""menu:
1. Garri and Soup(2000/plate)
2. jollof Rice and chicken(2500/plate)"""
print(menu)

menu:
1. Garri and Soup(2000/plate)
2. jollof Rice and chicken(2500/plate)

In [11]:
menu ="""menu:
1. Garri and Soup(2000/plate)
2. jollof Rice and chicken(2500/plate)"""
print(menu)
choice_of_meal=input("Choose 1 or 2:")
if choice_of_meal==1:
    print("You choose Garri and Soup")
else:
    print("You choose Rice and Chicken")

menu:
1. Garri and Soup(2000/plate)
2. jollof Rice and chicken(2500/plate)

Choose 1 or 2: 2

You choose Rice and Chicken

# Loops

In [13]:
human_year=int(input("Enter the human year: "))
first_two_years=10.5*human_year
human_year_more_than_2=10.5*2+(human_year-2)*4
if human_year<=0:
    print("Invalide input")
elif human_year<=2:
    print(f"{first_tow_years} Dog years")
else:
    print(f"{human_year_more_than_2} Dog years")

Enter the human year:  6

37.0 Dog years

In [15]:
human_year=int(input("Enter the human year: "))
if human_year<=0:
    print("Error")
first_two_human_years=10.5*2
cal1=10.5*human_year
if human_year<=2:
    print(f"{cal1} Dog year")
    cal2=first_two_human_years+4*(human_year-2)
if human_year>2:
    print(f"{cal2} Dog years")

Enter the human year:  2

21.0 Dog year

In [16]:
month=input("Enter month: ").title()
if(month=="janualy"
  or month=="March"
  or month=="May"
  or month=="July"
  or month=="August"
  or month=="October"
  or month=="December"):
    print("31 Days")
elif month=="Febuary":
    print("28 days or 29 days")
else:
    print("31 days")

Enter month:  Febuary

28 days or 29 days

In [ ]:
month=input("Enter Month: ").title()
months_with_31_days=["January", "March", "May" ]
if (month in months_with_31_days):
    print("31 days")
elif month=="Febuary":
    print("28 days or 29 days")
else:
    print("31 days")

In [ ]:
import this

In [ ]:
menu ="Menu:\n1. Garri and soup(2500/plate)\n2. Jollof Rice and Chicken(4500/plate)"
print(menu)
price_of_rice=4500
price_of_Swallow=2500
choice_of_meal=input("choose 1 or 2: ")
if choice_of_meal=="1":
    print("You chosed Garri and Soup")
else:
    print("You chosed Rice and Chicken ")
number_of_plates=int(input("Enter number of plates: "))
if choice_of_meal=="1":
    total_cost = number_of_plates*price_of_swallow
else:
    total_cost = number_of_plates*price_of_rice
print(f"Total cost: {total_cost}")
if total_cost>=10000:
    discount=0.1*total_cost
    amount_to_pay=total_cost-discount
    print(f"you have a discount of {discount}")
    print(f"Final Amount to pay is {amount_to_pay}")

In [ ]:
print("this \nis \nhappening")

# Loops

In [ ]:
list(range(4))

In [ ]:
list(range(3))

In [ ]:
list(range(10))

In [ ]:
list(range(2,6))

In [ ]:
list(range(2,10,3))

In [ ]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

In [ ]:
for i in range(5):
    print("Hello")

In [ ]:
for valentine in range(5):
    print(valentine)

In [ ]:
for valentine in range(5):
    print(valentine*3)

In [ ]:
for number in range (101):
    print(number*2)

In [ ]:
for number in range(0,101,2):
    print(number)

In [ ]:
for number in range (101):
    if number%2==0:
        print(number)

In [ ]:
for number in [3,5,4,354,52,42,3,45,3]:
    if number%2==0:
        print(number)

In [ ]:
for i in range (5):
    name = input("Enter your name:").upper()
    if name.strip().startswith("P"):
        continue
    else:
        print("You're not allowed in")

In [ ]:
for i in range (5):
    name = input("Enter your name:").upper()
    if name.strip().startswith("H"):
        continue
    else:
        print("You're not allowed in")

In [ ]:
for i in range (10):
    if i in [1,3,5,9]:
        continue
    else:
        print(i)

In [ ]:
for i in range (10):
    if i in [1,3,5,9]:
        break
    else:
        print(i)

In [ ]:
price =[4.95, 9.95, 14.95, 19.95, 24.95]
for price in price:
    discount = 0.6*price
    new_price= price-discount
    print(f"{round(price,2)})\t{round(discount,2)}\t{round(new_price,2)}")

In [ ]:
price =[4.95, 9.95, 14.95, 19.95, 24.95]
for price in price:
    discount = 0.6*price
    new_price= price-discount
    print(f"Original price:{round(price,2)})\tDiscount{round(discount,2)}\tNew_price{round(new_price,2)}")

In [ ]:
price =[4.95, 9.95, 14.95, 19.95, 24.95]
print("Price\tDiscount\tNew_Price")
for price in price:
    discount = 0.6*price
    new_price= price-discount
    print(f"{round(price,2)})\t{round(discount,2)}\t\t{round(new_price,2)}")

# week 2 day 3 (Loops Continue)

# while loops

In [ ]:
for i in range(5):
    print("Hello")

In [ ]:
# while cond:
#    code_to_run_if_iss_true

In [ ]:
count=0
while count<5:
    print("Hello")

In [ ]:
count=0
while count<5:
    print("Hello")
    count = count+1

In [ ]:
count=0
while True:
    print("Hello")
    count = count+1
    if count==5:
        break

In [ ]:
count=0
while True:
    print("Hello")
    count = count+1
    if count==5:
        break
        print("Hello")

In [ ]:
total=0
while True:
    number=float(input("Enter a value: "))
    print(f"You enter a\an {number}")
    if number==0:
        break
        total